<html>
  <head>
    <link rel='stylesheet' href='/index.css' />
    <link rel='stylesheet' href='/events.css' />
    <script src='/socket.io/socket.io.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
    <script src='/events.js'></script>
  </head>
  <body>

    <div id='event-container'></div>

    <script type='text/template' id='template-event'>
      <div class='event screen'>
        <div class='content'>
          <h2><%= summary %></h2>

          <p><%= description %></p>
          <p class='learn-more'>To learn more, contact <%= creator.displayName %>(<%= creator.email %>)</p>
          <% if(typeof rsvpCode !== 'undefined') { %>
            <p class='rsvp'>To RSVP, text <%= rsvpCode %> to 555-12345</p>
          <% } %>
          <% if(typeof maxAttendees !== 'undefined') { %>
            <p class='maxAttendees'><%= attendees.length %> of <%= maxAttendees %> spots filled.</p>
          <% } %>
          </ul>
        </div>
      </div>
    </script>
  </body>
</html>
